<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="<%= bootstrapCDN %>">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="title mt-4">
                    Welcome <%= name %>. <br> Your age is <%= age %>.
                </h2>
            </div>
        </div>
    </div>
</body>
</html>