<div class="cartBasket">
    <a href="/cart">
        <i class="fa fa-shopping-basket"></i>
        <span class="badge badge-warning" id="labelCartCount">
            <%= locals.total %>
        </span>
    </a>
</div>