header {
    display: grid;
    background-color: #aed8e6;
    text-align: center;
    grid-template-rows: 100px;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #2f4f4f;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

nav div {
    padding: 14px 20px;
    color: #fff;
    border-right: 1px solid #000;
    font-size: 18px;
}

div.wrapper {
    display: flex;
    flex-wrap: wrap;
}

div.wrapper div {
    height: 300px;
    padding: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.wrapper div:first-child {
    background-color: #aaaaaa;
    flex: 25%;
}

div.wrapper div:nth-child(2) {
    background-color: #bbbbbb;
    flex: 40%;
}

div.wrapper div:nth-child(3) {
    background-color: #cccccc;
    flex: 25%;
}

footer {
    background-color: #2f4f4f;
    display: grid;
    text-align: center;
    grid-template-rows: 100px;
    align-items: center;
    font-size: 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.validators {
    position: fixed;
    right: 0;
    bottom: 0;
}


@media screen and (max-width: 600px) {
    div.wrapper div:nth-child(2) {
        order: 3;
    }
}